.productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

/* 반응형 디자인에서 적용 */
/*@media (min-width: 431px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 769px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}*/

.itemCard {
    display: block;
    width: 100%;

    .preview {
        position: relative;
        background-color: var(--color-background-2);
        width: 100%;
        aspect-ratio: 1;
        border-radius: 0.5rem;
        overflow: hidden;

        .badgePreview {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
        }

        img {
            height: 100%;
        }
    }

    .details {
        & p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: var(--text-sm);
            color: var(--color-tx-gray-2);
        }

        & .price {
            display: flex;
            align-items: center;
            gap: 0.15rem;
            font-weight: var(--font-weight-semibold);

            * {
                display: inline-block;
            }

            & .before {
                text-decoration: line-through;
                color: var(--color-tx-gray-3);
                font-weight: var(--font-weight-medium);
                font-size: var(--text-xs);
            }
        }
    }
}