@import "tailwindcss";
@import "./variables.css";
@import "./base.css";

html {
    font-family: "Pretendard", sans-serif;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-2);
    color: var(--color-tx-gray-1);
    min-height: 100vh;
    transition: all 0.2s ease-in-out;
}

.app-container {
    position: relative;
    width: 100%;
    max-width: var(--layout-breakpoint);
    height: 100vh;
    overflow-y: auto;
    background-color: var(--color-background-1);
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 8px;

    &.no-scroll {
        overflow: hidden;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .back-icon {
    }

    .header-content {
        flex: 1;
        font-weight: var(--font-weight-semibold);
        font-size: var(--text-lg);
    }

    .nav-list {
        color: var(--color-tx-gray-3);
    }
}

.search-bar {
    position: relative;
    width: 100%;
    max-height: 0;
    opacity: 0;
    padding: 0 1rem;
    transform: translateY(-8px);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    z-index: 1;

    &.open {
        max-height: 500px;
        opacity: 1;
        padding-bottom: 1rem;
        transform: translateY(0);
        grid-template-rows: 1fr;
        pointer-events: auto;
    }

    .filter {
        display: flex;
        margin-top: 0.5rem;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
}

.search-filter {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 0.5rem;
    min-width: 0;

    .title {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
    }

    .list {
        flex: 1 1 auto;
        display: flex;
        gap: 0.5rem;
        overflow-x: auto;
        min-width: 0;
        scrollbar-width: none;
        -ms-overflow-style: none;

    }
}

.search-sort {
    position: relative;
    flex: 0 0 auto;

    .user-select {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        user-select: none;
        border-radius: 0.25rem;
        transition: all 0.2s ease-in-out;
        font-size: var(--text-sm);
        color: var(--color-tx-gray-3);
        padding: 0.25rem 0.5rem;

        svg {
            width: 16px;
            height: 16px;
        }

        &:hover {
            background-color: var(--color-background-2);
        }

        &:active {
            background-color: var(--color-background-3);
        }
    }

    .dropdown-select {
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        width: 100%;
        background-color: var(--color-background-1);
        border-radius: 0.5rem;
        border: 1px solid var(--color-border-default);
        z-index: 3;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-6px);
        transition: all 0.2s ease-in-out;

        & .option {
            padding: 0.25rem 1rem;
            font-size: var(--text-sm);
            white-space: nowrap;

            &:hover {
                background-color: var(--color-background-2);
            }

            &:active {
                background-color: var(--color-background-3);
            }

        }
    }

    &.open {
        .dropdown-select {
            max-height: 500px;
            opacity: 1;
            overflow-y: auto;
            transform: translateY(0);
        }
    }
}