@import "tailwindcss";
@import "./variables.css";
@import "./base.css";

html {
    font-family: "Pretendard", sans-serif;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-2);
    color: var(--color-tx-gray-1);
    min-height: 100vh;
    transition: all 0.2s ease-in-out;
}

.app-container {
    position: relative;
    width: 100%;
    max-width: var(--layout-breakpoint);
    height: 100vh;
    overflow-y: auto;
    background-color: var(--color-background-1);
    box-shadow: rgba(0, 0, 0, 0.16) 0 0 8px;

    &.no-scroll {
        overflow: hidden;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .back-icon {
    }

    .header-content {
        flex: 1;
        font-weight: var(--font-weight-semibold);
        font-size: var(--text-lg);
    }

    .nav-list {
        color: var(--color-tx-gray-3);
    }
}

.search-bar {
    position: relative;
    padding: 1rem;
    width: 100%;

    .filter {
        display: flex;
        margin-top: 0.5rem;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
}

.search-filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 0;

    .title {
        flex: 0 0 auto;
    }

    .list {
        flex: 1 1 auto;
        display: flex;
        gap: 0.5rem;
        overflow-x: auto;
        min-width: 0;
    }
}

.search-sort {
    flex: 0 0 auto;
}